---
---

@import "{{ site.theme }}";

a {
 color:#ff730f;
}
a:hover,
a:focus {
 color:#ff730f;
}
a small {
 color:#ff730f;
}
a:hover small {
 color:#ff730f
}

body {
 font-family: "Times New Roman", Helvetica, Arial, sans-serif;
 font-size: 105%;
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}

header h1 a {
 font-size: 1.2em;
}
