---
---

@import "{{ site.theme }}";

body {
  background-image: linear-gradient(to bottom right, #02456e, #000000)
}
a {
 color:#e8e8e8;
 text-align:center 
}
a:hover,
a:focus {
 color:#17c8e3;
}
a small {
 color:#e8e8e8;
}
a:hover small {
 color:#17c8e3
}

body {
 font-family:"Times New Roman", "Times", serif;
 font-size: 105%;
 color:#e8e8e8
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.15em;
 color:#e8e8e8;
 text-align:left
}

